<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>join my website</h1>
	<form action="/join" method="POST">
		<div>
			<label for="email">email:</label>
			<input type="input" id="email" name="email" />	
		</div>
		<div>
			<label for="password">password:</label>
			<input type="input" id="password" name="password" />
		</div>
		<button type="submit"><span>제출</span></button>
	</form>

	<section><%= message %></section>
</body>
</html>